// Place all the styles related to the public/entrys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.fa-hourglass{
  color: yellow;
}
.calendar{
  width: 80%;
}
.entry1{
 border-bottom: 3px solid red;
 width: 50%;
 margin: 0 auto;
}
.entry2{

 width: 60%;
 margin: 0 auto;
}
.table1{
  width: 60%;
}