// Place all the styles related to the public/events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.event1{
  color: red;
}
.event_s1{
  width: 80%;
  margin: 0 auto;
  max-width: 500px;

}
.event2{
width: 50%;
border: 5px solid aqua;
  text-align: center;
}
.event3{
font-size: 20p;
}

.btn-primary{
background-color: red;
}
.btn-secondary{
background-color: blue;
}


.map2{
  display: flex;
  padding: 20px;
}
.map3{
  margin: 0 auto;
}
.map4{
  margin: 0 auto;
  font-size: 200%;
}

