// Place all the styles related to the public/home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main{
height: 600px;
background-image:image-url("run1.jpg");
background-size: cover;
background-position: center;
}
.main2 {

font-family: "MS Mincho", "Arial", "メイリオ";
font-size: 120px;
text-align:center;

}