<h1>organizer_id::Events#index</h1>

<p>
  <%= link_to "新規登録", new_organizer_event_path %>
</p>

<% @events.each do |event| %>
  <p>タイトル</p>
  <p>
    <%= link_to event.name, organizer_event_path(event.id) %>
  <p>
  <p>開催日</p>
  <p><%= event.day %><p>
  <p>距離</p>
  <p><%= event.distance %>㎞<p>
<% end %>

