<h1>RunningOrderについて</h1>

<p><%= link_to "管理者ログイン", new_admin_session_path %></p>
<p><%= link_to "主催者ログイン", new_organizer_session_path %></p>
<p> <%= link_to "マイページ", root_path %></p>

<p>利用の流れ</br>
１，主催者が大会を作成する。</br>
２，複数のユーザーがエントリーする。</br>
３，大会後に主催者がタイムと順位を入力する。</br>
４，ユーザーが大会の順位確認できるようになる。</br>
</p>