<div class="main">

<p class="main2">Ranning<br>　　Order</p>
<h1>マイページ</h1>
<p>ユーザー機能</p>
<p>・大会検索機能</p>
<p>・カレンダー機能</p>
<p>・地図機能</p>
<p>・大会エントリー機能</p>
<p>・ランキング機能</p>
<p>・いいね機能</p>
<p>・ユーザーの参加履歴機能</p>
