<div class="main">

<h1>マイページ</h1>
<p>このサイトのログイン後のリンク先では以下のような機能があります。</p>
<p>マイページ---このページに戻ります。</p>
<p>大会一覧---参加できる大会と参加した大会一覧が表示されています。</p>
<p>エントリー一覧---自身がエントリーした大会が表示されています。</p>

</div>
<p>このサイトでは以下のテスト内容によって以下のような機能が実装されていることが分かります。</p>
<p>テスト1.大会検索機能<br>---大会一覧のリンク後表示されている大会を「３」～「５」を入力して絞り込みができていることを確認する。</p>
<p>テスト2.カレンダー機能<br>---エントリー一覧に表示されているカレンダーに現在自分がエントリーした大会が表示されている。
ゲストでは28日、5日、12日の3つがエントリー済みで12月26日の大会にはエントリーがないことを確認する。
</p>
<p>テスト3.地図機能<br>---大会詳細画面の公園コースと山道コースで違うコースマップが表示されていることを確認する。</p>
<p>テスト4.大会エントリー機能<br>---大会の詳細画面からエントリーを行うが、以下の3パターンでエントリーができないようになっている。
<br>・公園コース--大会日が過ぎているため、エントリーできない。
<br>・山道コース--定員オーバーのため、エントリーできない。
<br>・川沿いコース--すでにエントリー済みなため、エントリーできない。
<br>エントリー可能な12月26日のお城コースにエントリーを行い。完了画面に移行する。その後エントリー一覧のカレンダーの12月26日にエントリー
した大会が記載されていることを確認する。
</p>
<p>テスト5.大会ランキング機能<br>---川沿いコースの大会詳細画面にあるランキングのリンクで、その大会のランキングが表示されていることを確認する。
その後、「ゲ」と検索することで自分の順位が絞り込めることを確認する。
<p>テスト6.ユーザーの大会結果機能<br>---ランキングに記載されている「アルトリア」選手のリンクを押し、過去に参加した大会の結果と
これから開催される川沿いコース大会では、順位「なし」タイム「００」であるを確認する。</p>



<li>
        <%= link_to "管理者ログイン", new_admin_session_path %>
</li>
