<div class="main">

<p class="main2">Ranning<br>　　Order</p>
</div>
<h1>マイページ</h1>

<p class="flex">1 大会検索機能　　　　　<span class="space">2 いいね機能　　　　　</span></p>

<p class="flex">3 GoogleMapAPI機能　　<span class="space">4 ユーザー検索機能　　</span></p>

<p class="flex">5 カレンダー機能　　　　<span class="space">6 ストップウォッチ機能</span></p>
