<div class="main">

<p class="main2">Ranning<br>　　Order</p>
<h1>マイページ</h1>
<p>ユーザーにはこのような機能があります。</p>
<p>マイページ---このページに戻ります。</p>
<p>大会一覧---参加できる大会と参加した大会一覧が表示されています。</p>
<p>エントリー一覧---自分のエントリーした大会が表示されています。</p>
