<h1>rank</h1>

<table>
    <tr>
      <th>タイム</th>
      <th>ユーザー名</th>

    </tr>
    <% @entrys.each do |entry| %>
    <tr>
      <th><%= Time.at(entry.time).strftime("%H時間%M分%S秒")%></th>
      <th>
    <%= entry.user.name %>
　    </th>

　    </tr>
    <% end %>
  </table>

<%= paginate @entrys %>