<h1>Public::Entrys#index</h1>

<% @entrys.each do |entry| %>
  <p>タイム</p>
  <p><%= entry.time %><p>
  <p>大会名</p>
  <p><%= link_to entry.event.name, event_path(entry.event_id) %><p>
  ---------------------------------------------------------
<% end %>
