<h1>Public::Entrys#new</h1>

<%= form_with model: @entry, url:entrys_path, local:true do |f| %>

  <p>タイム</p>
  <p><%= f.select :time, *[1..10] %></p>
  <%= f.hidden_field :event_id, :value => params[:event_id]%>

  <%= f.submit 'エントリーする' %>
  <p>

<% end %>