<h1>rank</h1>

<% @entrys.each do |entry| %>
  <p>タイム</p>
  <p><%= entry.time %><p>
  <p>大会ID</p>
  <p><%= entry.event_id %><p>
  <p>ユーザー名</p>
  <p>
    <%= link_to entry.user.name, user_path(entry.user_id) %>　選手
  <p>
  ---------------------------------------------------------
<% end %>